:root {
    --roxo: #6653BA;
    --branco: #f4f4f4;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


img {
    max-width: 50px;
    color: #6653BA;
}

body {
    background-color: #6653BA;
    padding-bottom: 20px;
}

.header {
    background-color: #f4f4f4;
    color: #6653BA;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.header h1 {
    font-size: 5em;
}

.header p {
    font-size: 2em;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card {
    background-color: #f4f4f4;
    color: #6653BA;
    width: 300px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 10px;
}

.card.opcao-bot {
    justify-content: center;
}

.card span {
    font-size: 1.5em;
    font-weight: bold;
}


#message {
    font-size: 2em;
    text-transform: uppercase;
}

.bot {
    display: flex;
    justify-content: center;
}

.success {
    color: #00ff00;
}

.danger {
    color: #ff1100;
}

.warning {
    color: #fffb00;
}

.message {
    margin: 20px 0;
}