.container {
    height: 100vh;
    padding: 0 15%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: #fff;
    border: 2px solid #03a9f4;
    border-radius: 6px;
    padding: 5px 10px;
    text-decoration: none;
    color: #03a9f4;
    transition: 150ms ease-out;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
}

.btn:hover {
    color: #fff;
    background-color: #03a9f4;
}