.navbar{
    background-color: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.navbar .logo{
    width: 200px;
    padding: 5px 10px;
}

.navbar .logo img{
    max-width: 100%;
}

.navbar .links{
    display: flex;
    align-items: center;
}

.navbar .links ul{
    list-style-type: none;
    display: flex;
    font-size: 1.3rem;
    margin-right: 10px;
}

.navbar .links ul li{
    margin: 0 5px;
}

.navbar .button{
    background-color: transparent;
    color: #474747;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 200ms ease-out;
    text-decoration: none;
}

.navbar .button.active{
    background-color: #474747;
    color: #F6C114;
    transition: 200ms ease-out;
}

.navbar .button:hover {
    background-color: #F6C114;
    color: #fff;
}

.navbar #horario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar #horario p {
    height: fit-content;
    font-size: 1rem;
}